<div class="row">
  <h1>Mike's App for Creating Todo lists</h1>
  <button id="new_list_button"><%= link_to 'Create New List', new_list_path %></button>
  <div class="row">
    <table>
      <% @lists.each do |list| %>
        <tr>
          <td><h4><%= link_to list.name, edit_list_path(list) %></h4></td>
          <td><button class="delete_button">X</button></td>
        </tr>
      <% end %>
    </table>
  </div>
  
</div>