/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require lists

 *= require_tree .
 */

/*= require foundation */

#large_button {
	color:#FFFFFF;
	background-color:blue;
	border-radius:5px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:20px;
	padding-left:20px;
}

#large_button:hover {
	background-color:red;
}

#large_button a {
	color:#FFFFFF;
}

.delete_button {
	border-radius:5px;
	background-color:red;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
}

#create_list {
	margin-top:10px;
}

#create_list label {
	font-size:1.875rem!important;
}

#cancel {
	background-color: blue;
	margin-left:10px;
	color:white;
	padding:4px;
	border-radius:4px;
}

#cancel:hover {
	background-color:red;
}

.small_button {
	background-color:#A40000;
	margin-left:10px;
	color:white;
	padding:4px;
	border-radius:4px;
}

.small_button:hover {
	color:white;
	background-color:red;
}

.list_item {
	border-top:2px;
	border-bottom:2px;
	border-color:black;
}

.cancel_link {
	margin-right: 10px;
}

.nested_fields {
	border:none!important;
}
.remove_nested_fields_link {
	color:white;
}
.remove_nested_fields_link:hover {
	color:white;
}
#add_new_item_botton {
	float:right;
	margin-right:130px;
	background-color:#008ED2;
}

.item_field:nth-of-type(1) {
	margin-left:8px;
}

#add_new_item_field {
	margin-left:10px;
}

.check_box {
	margin-top:8px;
}

.button_remove {
	margin-top:5px;
}
.nested_fields {
	padding-top:0;
	padding-bottom:0;
	margin-top:10px;
	margin-bottom:10px;
}
.check_input {
	margin-left:40px!important;
}
input {
	box-shadow:none;
	-webkit-box-shadow:none!important;
	border-radius:5px;
	transition:none!important;
	-webkit-transition:none!important;
	-moz-transition:none!important;
}